body {
    color: white;
    background: black;
}

header {
    border-bottom: solid 5px rgb(72, 3, 78);
    padding: 60px;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
img {
    height: 300px;
    opacity: 0.5;
    height: 200px
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 40px;
    padding-right: 40px;
  }  
  .chamada {
    background: black;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }
 img:hover {
    opacity: 1.0;
    border: 1px solid rgb(76, 3, 78)
}
 h2 {
    color: rgb(72, 3, 78);
}
